<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Thanh An Side</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://media.istockphoto.com/id/1223671392/vector/default-profile-picture-avatar-photo-placeholder-vector-illustration.jpg?s=170667a&w=0&k=20&c=m-F9Doa2ecNYEEjeplkFCmZBlc5tm1pl1F7cBCh9ZzM=" alt="" class="user-avatar">
            Thanh An
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/me/stored/products">All My Products</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/products/create">Add Products</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/trash/products">Products Deleted</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Remove Products</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/search">Searching</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>