<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Search</label>
    <input type="text" class="form-control" name="q" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tim kiem...">
  </div>
  <button type="submit" class="btn btn-primary">Tim kiem</button>
</form>